.image {
    position:relative;
    text-align:center;
    float: left;
    width: 600px;
    height: 315px;
}

.text {
    left: 0;
    position:absolute;
    top: 30px;
    width: 100%;
}