.image {
	width: 600px;
    height: 315px;
    position:relative;
    text-align:center;
    float: left;
    }

.text {
    left: 0;
    position:absolute;
    top: 50%;
    width: 100%;
}